{% extends "empty_page.html" %}
{% block content %}

<h1>Log into your account</h1>
    
<form action="/users/login" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" required><br><br>
    </div>
    
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" required><br><br>
    </div>

    <button type="submit" class="form_button" id="confirm_register_button" href="http://127.0.0.1:8000/books/all">Log in</button>

</form>
    
<p>You don't have an account ? <a class="register_button" href="register" >Go to register</a></p>

{% endblock  %}