{% extends "empty_page.html" %}
{% from "macro.html" import show_book %}

{% block content %}

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'></head>

<body class="Homepage">
    <nav class="navbar">
        <a href="/books/all" class="logo">
            <i class='bx bxs-book'></i>
        </a>
        <h1 class="hometitle">Our Bookstore</h1>
        <div class="home_links">
            <ul>
                {% if user.admin %}
                <li> <a href="/users/admin">Admin</a></li>
                <li> <a href="/users/logout">Logout</a></li>
                <li> <a href="/users/logout"> <i class='bx bxs-user-circle'></i> </a></li>
                {% else %}
                <li> <a href="/users/logout">Logout</a></li>
                <li> <a href="/users/me"> <i class='bx bxs-user-circle'></i> </a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="table_container">
        <table class="book_table">
            <thead>
                {% if user.admin %}
                <th>    Modify  </th>
                <th>    Delete  </th>
                <th>    Title   </th>
                <th>    Author  </th>
                <th>    Editor  </th>
                <th>    Price   </th>
                {% else %}
                <th>    Title   </th>
                <th>    Author  </th>
                <th>    Editor  </th>
                <th>    Price   </th>
            </thead>
            {% endif %} 
            {% for book in books %}
            {% if user.admin %}
            {{ show_book(book.id, book.name, book.author, book.editor, book.price)}}
            {% else %}
            <tbody>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.editor }}</td>
                <td>{{ book.price }} €</td>
            </tbody>
            {% endif %}
            {% endfor %}
        </table> 
        
    </div>
    
    {% if user.admin %}
    <div class="add_button_container">
        <a class="button_link" href="/books/new"><i class='bx bx-book-add' id="add_button"></i></box-icon></a>
    </div>
    {% endif %}

    <div class="nb_books"> 
        Nombre de livres : {{ booknumber }}
    </div>
    
    
</body>

{% endblock %}
